/.vs
/E-MakeupArtistApplication/bin
/E-MakeupArtistApplication/obj
/E-MakeupArtistApplicationBussinessLogicLayer/bin
/E-MakeupArtistApplicationBussinessLogicLayer/obj
/E-MakeupArtistApplicationDataAccessLayer/bin
/E-MakeupArtistApplicationDataAccessLayer/obj
/E-MakeupArtistApplication/Web.config
/E-MakeupArtistApplication/Web.Release.config
/E-MakeupArtistApplication/Web.Debug.config
/E-MakeupArtistApplication/Web.config
